{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <meta name="description" content="dwadwa">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>О нас</title>
{% endblock %}
{% block content %}
Описание компании
{% endblock %}